cloud:
  aws:
    credentials:
      s3-access-key: AKIAQ3YCCGV56IPTXBZD
      s3-secret-key: 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
      cognito-secret-key: BzceUgG51oZKelveemit9/RPppp/nI4u0lsRFFQI
      cognito-client-id: 4qqed9a375uh0mpgsmjphjbe09
    region:
      static: us-east-1
    stack:
      auto: false

application:
  bucket:
    name: barber-shop-images


spring:
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2MB
      max-file-size: 5MB
      max-request-size: 10MB

server:
  port: 9090
